<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head", { title: "Home - Dance World" }) %>
</head>
<body>
    <%- include("../partials/header") %>

    <main>
        <% if (typeof item !== "undefined") { %>
            <% if (typeof item.name !== "undefined") { %>
                <h2><%= item.name %></h2>
            <% } %>

            <% if (typeof item.img !== "undefined") { %>
                <img src="<%= item.img %>" alt="<%= item.name || 'Dance Image' %>" class="responsive-img">
            <% } %>

            <% if (typeof item.description !== "undefined") { %>
                <p><%= item.description %></p>
            <% } %>
        <% } else { %>
            <p>No item data available.</p>
        <% } %>
    </main>

    <%- include("../partials/footer") %>
</body>
</html>
