<%- include("../partials/header")  %>
<main>
    <h2><%= item.name %></h2>
    <img src="<%= item.img %>" alt="<%= item.name %>">
    <p><%= item.description %></p>
</main>
<%- include("../partials/footer")  %>